---
// Layout
import BaseLayout from '../layouts/BaseLayout.astro';

// CSS
//import '../styles/global.css';

// JS
const pageTitle = "Astro - About"

const identity = {
    firstName: "Sara",
    country: "USA",
    occupation: "Tech Delivery Manager",
    hobbies: ["Ice Hockey", "Hiking", "Travel", "UFC", "Yoga", "Movies"],
};

const skills = ["HTML", "CSS", "Atsro", "Management", "ADA"];

const happy = true;
const finished = true;
const goal = 3;

const operatingSystem = "Windows";
const quantity = 3;
const footwear = "boots";
const student = false;

//Variable to use in css
const skillColor = "Pink";
const fontWeight = "bold";
const textCase = "uppercase";
---

<BaseLayout pageTitle={pageTitle}>
    <h2>My About Sub Header</h2>
  
    <p>Here are a few facts about me:</p>

    <ul>
        <li>My name is {identity.firstName}.</li>
        <li>I live in {identity.country} and I work as a {identity.occupation}.</li>
        {identity.hobbies.length >= 2 &&
            <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
        }
    </ul>

    <hr />

    <p>My skills are:</p>
    <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>

    <hr />

    {happy && <p>I am happy to be learning Astro!</p>}
    {finished && <p>I have finished this tutorial!</p>}
    {goal ==3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days</p>}

    <p>{operatingSystem}</p>
    <p>Above should say Microsoft</p>

    {student && <p>I am still in school</p>}
    <p>Copy will display if student = true</p>

    <p>I have {quantity + 8} pairs of {footwear}</p>
    <p>Above should say "I have <strong>11</strong> pairs of <strong>boots</strong>"</p>

    {operatingSystem === "MacOS" ? <p>I am using a Mac</p> : <p>I am not using a Mac</p>}
    <p>Above should say "I am not using a Mac"</p>
  
  </BaseLayout>

<style define:vars={{skillColor, fontWeight, textCase}}>
    h1 {
        color: purple;
        font-size: 3rem;
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
    }
    .skill {
        color: var(--skillColor);
        margin-bottom: 1rem;
    }
</style>