---
// Layout
import BaseLayout from '../layouts/BaseLayout.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
// Component
import BlogPost from '../components/blogpostinfo.astro'
// JS
const pageTitle = "Astro - Blog"
---


<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>

    <ul>
        <!-- {allPosts.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)} -->
        {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
    </ul>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> 
    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

</BaseLayout>

